<launch>

<!-- "2wd" or "omni" -->
<arg name="robot" value="omni" />
<arg name="2wd" value="false" />
<arg name="omni" value="true" />

<rosparam file="$(find no_build)/config/params/$(arg robot).yaml" command="load" />

<!--
<node name="joystick" pkg="joy" type="joy_node" output="screen" >
	<param name="autorepeat_rate" type="double" value="80.0" />
	<param name="coalesce_interval" type="double" value="0.012" />
</node>

<node name="idmind_teleoperation" pkg="idmind_teleoperation" type="idmind_teleoperation" output="screen" />
-->

<node name="idmind_motors" pkg="idmind_motors" type="idmind_motors" output="screen" />
<node name="idmind_odometry" pkg="idmind_odometry" type="idmind_odometry" output="screen" />
<node name="idmind_imu" pkg="idmind_imu" type="idmind_imu" output="screen" />

<node name="idmind_sensors" pkg="idmind_sensors" type="idmind_sensors" output="screen" />
<node name="idmind_arms" pkg="idmind_arms" type="idmind_arms" output="screen" />
<node name="mouth_encoder" pkg="idmind_interaction" type="mouth_encoder" output="screen" />
<node name="idmind_interaction" pkg="idmind_interaction" type="idmind_interaction" output="screen" >
	<param name="initialize" type="bool" value="false" />
</node>

<node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" output="screen" >
	<param name="port" type="string" value="/dev/idmind-hokuyo_ttyACM1" />
	<param name="skip" type="int" value="1" />
</node>

<node if="$(arg 2wd)" pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.21 0 0 0 0 0 base_link laser 100" />
<node if="$(arg omni)" pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.28 0 0 0 0 0 base_link laser 100" />

</launch>
