<launch>

<include file="$(find no_build)/launch/idmind_base.launch" />
<include file="$(find no_build)/launch/idmind_map.launch" />

<node pkg="amcl" type="amcl" name="amcl" output="screen" >
	<param name="initial_pose_x" type="double" value="16.0" />
	<param name="initial_pose_y" type="double" value="11.35" />
	<param name="initial_pose_a" type="double" value="-1.57" />
	<param name="odom_model_type" type="string" value="omni" />
</node>

</launch>
