<launch>

<include file="$(find no_build)/launch/idmind_base.launch" />
<include file="$(find no_build)/launch/idmind_map.launch" />

<node name ="fake_localization" pkg="fake_localization" type="fake_localization" output="screen" >
	<remap from="base_pose_ground_truth" to="odom" />
</node>

<!-- <node pkg="tf" type="static_transform_publisher" name="static_odom_tf" args="10 10 0 0 0 0 map odom 100" /> -->

</launch>
