<launch>

<node name="joystick" pkg="joy" type="joy_node" output="screen" >
	
	<param name="coalesce_interval" type="double" value="0.012" />
</node>


<node name="idmind_teleoperation" pkg="idmind_teleoperation" type="idmind_teleoperation" output="screen" />






<!--

<param name="autorepeat_rate" type="double" value="80.0" />


<node name="idmind_teleop_key" pkg="idmind_teleoperation" type="turtlebot_teleop_key" output="screen" />

-->

</launch>
