<launch>	

<node name="hokuyo_laser" pkg="hokuyo_node" type="hokuyo_node" output="screen" >
	<param name="port" type="string" value="/dev/ttyACM0" />
</node> 

<arg name="map_file" default="/home/miguel/Pictures/maps_tests/my_place.yaml" />
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

<node pkg="tf" type="static_transform_publisher" name="static_laser_tf" args="0 0 0 -1.5708 0 0 map laser 100" />

<arg name="rviz_config" default="$(find no_build)/config/idmind.rviz" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen" />

</launch>
